@import '../../styles/_vars.scss';

.current-weather {
  width: 35%;
  margin: 40px auto 40px auto;
  padding: 0 20px 20px 20px;

  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgb(0, 0, 0 / 30%);
  color: #fff;
  background-color: $grey;

  @media (max-width: 1024px) {
    width: 50%;

    margin: 40px auto 40px auto;
  }

  @media (max-width: 468px) {
    width: 100%;

    margin: 32px auto 32px auto;
  }

  &__city {
    margin: 0;

    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 2px;
  }

  &__description {
    margin: 0;

    font-weight: 200;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 2px;
  }

  &__icon {
    width: 100px;
    height: 100px;
  }
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.temperature {
  width: auto;
  margin: 10px 0;

  font-weight: 600;
  font-size: 70px;
  letter-spacing: -4px;

  @media (max-width: 1024px) {
    font-size: 64px;
  }

  @media (max-width: 468px) {
    font-size: 56px;
  }
}

.parameter {
  width: 100%;
  padding-left: 20px;

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__label {
    text-align: left;
    font-weight: 200;
    font-size: 12px;
    letter-spacing: 1px;
  }

  &__value {
    text-align: right;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
  }
}